<div>
    <h1>类型管理</h1>

    <div style="margin-bottom: 20px">
        <label>模型类型名称：<input type="text" placeholder="请输入模版类型名称" id="style_name"></label>
        <button class="btn btn-sm btn-success" id="add_style">新增</button>
    </div>
    <table class="table table-striped">
        <tr>
            <th>类型名称</th>
            <th>类型创建者</th>
            <th>类型创建时间</th>
            <th>操作</th>
        </tr>
        {{#each styleList}}
            <tr>
                <td>{{styleName}}</td>
                <td>{{creator}}</td>
                <td>{{createTime}}</td>
                <td><button class="btn btn-sm btn-danger delete_style" data-id="{{_id}}" data-name="{{styleName}}">删除</button></td>
            </tr>
        {{/each}}
    </table>
</div>