<div class="col-md-12">
    <div class="col-md-9 canvas-model-preview">
        <img src="{{model.previewImg}}" width="100%">
    </div>
    <div class="col-md-3">
        <img src="{{model_user_avatar}}" width="40px"><br>
        作者：{{model_user_name}}<br>
        作品名：{{model.name}}<br>
        描述：{{model.descriptions}}<br>
        分类：{{model.typeId}}<br>
        上传时间：{{model.createTime}}
    </div>
</div>


<script>
    var objUrl = '{{model.objUrl}}',
            mtlUrl='{{model.mtlUrl}}';
</script>