<div class="col-md-12">
    <div class="col-md-9 canvas-model-preview">
        <img class="preview-img" src="{{model.previewImg}}" width="100%">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                 aria-valuemax="100" style="width: 0">
            </div>
        </div>
        <div class="canvas">
            <div class="fullscreen"><img src="/images/fill_screen.png" width="100%"></div>
        </div>
    </div>
    <div class="col-md-3">
        <img src="{{model_user_avatar}}?imageView2/2/w/100" width="40px"><br>
        作者：<span>{{model_user_name}}</span><br>
        作品名：<span id="model_name">{{model.name}}</span><br>
        描述：<span id="model_descriptions">{{model.descriptions}}</span><br>
        上传时间：{{created_at}}
        {{#if is_model_option}}
            <button class="btn btn-sm btn-success btn-edit">编辑模型信息</button>
        {{/if}}

    </div>
</div>
{{#if is_model_option}}
    <div class="panel panel-success panel_popup panel_reset_password">
        <div class="panel-heading">模型编辑</div>
        <div class="panel-body" style="text-align: left">
            <label>作品名：<input type="text" value="{{model.name}}" id="edit-name"></label><br>
            <label>描述：<textarea id="edit-descriptions">{{model.descriptions}}</textarea></label><br>
            <label>分类：<select id="edit-typeId">
                {{#each styleList}}
                    <option value="{{styleNum}}">{{styleName}}</option>
                {{/each}}
            </select>
            </label>
        </div>
        <div class="panel-footer">
            <button class="btn btm-sm btn-success btn-model-save">保存</button>
            <button class="btn btm-sm btn-danger btn-model-cancel">取消</button>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">勿移动缩放模型进行模型配置</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2">scale:</label>

                    <div class="col-md-10">
                        <input class="form-control model_option_0" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">rotation_x:</label>

                    <div class="col-md-10">
                        <input class="form-control model_option_1" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">rotation_y:</label>

                    <div class="col-md-10">
                        <input class="form-control model_option_2" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">rotation_z:</label>

                    <div class="col-md-10">
                        <input class="form-control model_option_3" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">position_x:</label>

                    <div class="col-md-10">
                        <input class="form-control model_option_4" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">position_y:</label>

                    <div class="col-md-10">
                        <input class="form-control model_option_5" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">position_z:</label>

                    <div class="col-md-10">
                        <input class="form-control model_option_6" type="number">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-success" id="update_model_option">更新配置</button>
            </div>
        </div>
    </div>
{{/if}}

<script>
    var model_id = '{{model._id}}',
            model_typeId ='{{model.typeId}}',
            objUrl = '{{model.objUrl}}',
            mtlUrl = '{{model.mtlUrl}}',
            model_option = [{{model.modelOption}}],
            is_model_option = '{{is_model_option}}';
</script>